body
{
	background:  #343535;
;
padding-top: 50px;
}




.nav-link
{
	color: white;

}
.nav-link:hover
{
  color: white;

}
.nav-item
{
  margin-right: 5px;
  margin-left: 5px;
}
.nav-item:hover 
{
      background-color:#Fb4526;
      transition: 0.7s;
}



.nav
{
display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70px;




}
.nav-link
{
  font-family: script;
 font-size: 26px;
 font-weight: 600px;
}
header
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:1000;
  background-color: #121212
  }
main
{
  display: grid;
  grid-template-columns: 25% 30% 45%;
  padding-top: 70px;
  margin-bottom: 20px;


}

.About
{
  display: inline-block;
  color: white;
  margin-left: 30px;
  font-family: publico;
}

.video
{
  padding-left: 50px;
}
.Home img
{
 
  border-radius: 50%;
  width: 99%
}
.Home
{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.Home div
{
 
  padding:10px;

}
.Highlights
{

  display: none;
}

footer
{
  background-color: #0e0e0e;

            bottom: 0;
            display: inline-block;
            width: 100%;
            /* Height of the footer*/
            height: fit-content;
            color: white;
}
footer a
{
  color: white;
        text-decoration: none;

}
.f-link:hover
{
      color:#Fb4526;
      transition: 0.3s;
        text-decoration: none;

}
.logo
{

  height: 40px;
  width: 40px;
  background-color: transparent;
}
h2
{
  display: inline;
  float: right;
}
.hours
{


  float: right;
  padding-right: 50px
}
.address
{
  padding-top:10px;
  padding-left: 50px;

  display: inline-block;
}
footer p
{
  line-height: 10px;
}
footer h2
{
  line-height: 15px;
}
main img
{
  padding-right: 10px;
}
.producers
{
  opacity: 0.2;
  color: grey;
}
.insta
{
   height: 40px;
  width: 40px;
  background-color: transparent;

  margin-bottom: 10px;
}
.gallery
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 50px;
        margin: 50px;



}
.gallery div
{
  
  display: flex;
  margin: 0px;

   

}
.gallery img
{
  width: 100%;
   filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  
}

.gallery img:hover 
{
    filter: none;
    -webkit-filter: grayscale(0);
    transition:0.7s;
}
@media (max-width: 525px) 
{

  header
  {
      padding-bottom: 20px;

  }
      .gallery 
      {
        grid-template-columns: 1fr;
        margin-top: 10px;

       }
       .nav
       {
            height: 50px;

       }
          .gallery img
          {
          
              filter: none;
              -webkit-filter: grayscale(0);
          }
            .nav-item
            { 
            margin-right: 0px;
            margin-left: 0px;
            }
            .nav-link
            {
            font-family: script;
            }
            .nav a
            {
            font-size: 18px;
            font-weight: 600px;

            }
    .hours
   {
     text-align: left;
     display: none;

   }
   .About
   {
    font-size: 12px;
    display: inline-block;
   }
   video
   {
      padding-left: 0px;
      width: 250px;
      height: 300px;
      padding-bottom: 20px;

   }
   .video
   {
    padding-left: 0px;
   }
  
   main
   {
      grid-template-columns: 50% 50%;
      padding-top: 20px;
      margin-bottom: 0px;
      margin-right: 0px;
          background-color: #121212;


   }
   .Home
   {
    grid-column: 1/ span 2;
    background-color:  #2A2B2B;

   }
   .Highlights
   {
    display: flex;
    flex-direction: column;
    align-items: center;
        grid-column: 1/ span 2;
    background-color:#2A2B2B;

    justify-content: center;
    font-family: Monserrat;
    font-size: 25px;
   }
   .Highlights p
   {
    margin-top: 20px;
    color:#Fb4526;

   }
   footer
   {
        background-color:#2A2B2B;
   }
}


